// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation
.post {
	.post-content {
		p {
			line-height: 22px;
		}
		ul {
			font-size: 16px;
			padding-left: 15px;
			padding-top: 0px;
			font-family: roboto,sans-serif;
			list-style: square;
			color: #7b7b7b;
		}
	}
}
.post-excerpt {
	p {
		margin: 0 0 10px;
	}
}
li {
	margin-top: 3px;
}
a {
    color: #337ab7 !important;
}